body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40vh;
    background: rgb(4, 82, 128);
}

#countdomnTimer {
    color: #fff;
    font-size: 5rem;
    font-weight: 800;
    font-family: sans-serif;
}